# Compiled source #
###################
calibration
*.exe
*.o
*.a

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.out
*.log
*.vtk
*.msh
*.status

# Temporary files #
###################
*.m~

# Ignored Folders #
###################
work/
dataset/
config/
bozze/
res/
static_lib/include
static_lib/lib
static_lib/share
